<body class="page3">
<h1>Merchants</h1>

<h3>Search For a Merchant By Name:</h3>

<%= form_with url: find_merchants_path, method: :get, local: true do |form| %>
  <%= form.label :search, "Merchant Name:" %>
  <%= form.text_field :search %>
  <%= form.submit 'Search' %>
<% end %>

<% if params[:search].present? %>

  <h3><%= link_to "All Merchants", merchants_path %>
  <h2>Matches for <%= params[:search] %>:</h2>
  <h3><%= link_to @merchant.name, merchant_path(@merchant) %></h3>

<% else %>

  <% @merchants.each do |merchant| %>
    <ul>
      <li><%= link_to merchant.name, "/merchants/#{merchant.id}" %></li>
    </ul>
  <% end %>
<% end %>